################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Galaxy Pulsar (systemd service unit)
[Unit]
Description=Galaxy Pulsar
After=network.target

[Service]
Type=forking
Environment=PYTHON_EGG_CACHE=_cw_ROOT_/var/lib/galaxy-1510/pulsar/python-eggs
Environment=PYTHONPATH=_cw_ROOT_/opt/galaxy-1510/pulsar/lib/python2.7/site-packages
Environment=PATH=_cw_ROOT_/opt/galaxy-1510/pulsar/bin
WorkingDirectory=/tmp
User=galaxy
ExecStart=_cw_ROOT_/opt/galaxy-1510/pulsar/bin/pulsar -c _cw_ROOT_/etc/galaxy/pulsar --daemon
PIDFile=/var/run/clusterware-galaxy/pulsar.pid

[Install]
WantedBy=multi-user.target
