################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2016 Alces Software Ltd
##
################################################################################
# Slurm compute node daemon (systemd service unit)
[Unit]
Description=Alces Clusterware Slurm compute node daemon
After=syslog.target
After=network.target
Wants=clusterware-slurm-munged.service

[Service]
Type=forking
LimitMEMLOCK=infinity
PIDFile=/var/run/slurm/slurmd.pid
ExecStart=_cw_ROOT_/opt/slurm/sbin/slurmd
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
