################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Galaxy (systemd service unit)
[Unit]
Description=Galaxy
After=network.target

[Service]
Type=forking
ExecStart=_cw_ROOT_/libexec/galaxy/galaxy-starter
PIDFile=/var/run/clusterware-galaxy/galaxy.pid

[Install]
WantedBy=multi-user.target
