################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Clusterware Galaxy Proxy (systemd service unit)
[Unit]
Description=Clusterware Galaxy Proxy
After=network.target

[Service]
Type=forking
ExecStart=_cw_ROOT_/opt/galaxy/bin/nginx
PIDFile=/var/run/clusterware-galaxy-proxy.pid

[Install]
WantedBy=multi-user.target
