################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Galaxy Pulsar (systemd service unit)
[Unit]
Description=Galaxy Pulsar
After=network.target

[Service]
Type=forking
User=galaxy
ExecStart=_cw_ROOT_/libexec/galaxy/pulsar-starter
PIDFile=/var/run/clusterware-galaxy/pulsar.pid

[Install]
WantedBy=multi-user.target
