################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Alces Flight Web Server (systemd service unit)
[Unit]
Description=Alces Flight Web Server
After=network.target

[Service]
Type=forking
ExecStart=_cw_ROOT_/opt/alces-flight-www/bin/nginx
PIDFile=/var/run/alces-flight-www.pid

[Install]
WantedBy=multi-user.target
