################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Alces Storage Manager Daemon (systemd service unit)
[Unit]
Description=Alces Clusterware Storage Manager daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=_cw_ROOT_/etc/ruby.rc
Environment=HOME=/root
ExecStart=_cw_ROOT_/bin/alces-storage-manager-daemon start --pidfile /var/run/alces-storage-manager-daemon.pid -l /var/log/alces-storage-manager-daemon/runtime.log -e production
PIDFile=/var/run/alces-storage-manager-daemon.pid

[Install]
WantedBy=multi-user.target
