################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015-2016 Alces Software Ltd
##
################################################################################
# Alces Storage Manager Daemon (systemd service unit)
[Unit]
Description=Alces Clusterware Storage Manager daemon
After=network.target

[Service]
Type=forking
ExecStart=_cw_ROOT_/libexec/alces-storage-manager-daemon/alces-storage-manager-daemon-starter
PIDFile=/var/run/alces-storage-manager-daemon.pid

[Install]
WantedBy=multi-user.target
