################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Alces Websocket Proxy (systemd service unit)
[Unit]
Description=Alces Clusterware Websocket Proxy
After=network.target

[Service]
Type=forking
ExecStart=_cw_ROOT_/opt/alces-websocket-proxy/bin/nginx
PIDFile=/var/run/alces-websocket-proxy.pid

[Install]
WantedBy=multi-user.target
