################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# GridScheduler queue master (systemd service unit)
[Unit]
Description=Alces Clusterware GridScheduler queue master
After=syslog.target
After=network.target

[Service]
Type=forking
Environment=SGE_ROOT=_cw_ROOT_/opt/gridscheduler
Environment=SGE_CELL=etc
ExecStart=_cw_ROOT_/opt/gridscheduler/bin/linux-x64/sge_qmaster

[Install]
WantedBy=multi-user.target
