################################################################################
##
## Alces Clusterware - Systemd service unit file
## Copyright (c) 2016 Alces Software Ltd
##
################################################################################
# TORQUE pbs_mom daemon (systemd service unit)
[Unit]
Description=Alces Clusterware TORQUE pbs_mom daemon
Requires=network.target local-fs.target
After=network.target local-fs.target rsyslog.service

[Service]
Type=forking
User=root
LimitNOFILE=32768
LimitMEMLOCK=infinity
LimitSTACK=12582912
KillMode=process
PIDFile=/var/spool/torque/mom_priv/mom.lock
Environment=LD_LIBRARY_PATH=_cw_ROOT_/opt/torque/lib
Environment=PBS_HOME=/var/spool/torque
Environment=PBS_ARGS=
ExecStart=_cw_ROOT_/opt/torque/sbin/pbs_mom -d $PBS_HOME $PBS_ARGS
ExecStop=/bin/bash -c " \
  for i in {1..5}; do \
    kill -0 $MAINPID &>/dev/null || exit 0; \
    _cw_ROOT_/opt/torque/sbin/momctl -s && exit; \
    sleep 1; \
  done \
"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
